<div class="app-shell" [class.collapsed]="!sidebarOpen">

  <aside class="sidebar">

    <div class="sidebar-header">
      <span class="logo" *ngIf="sidebarOpen">⚙️ Módulo Efectividad</span>
      <button class="toggle-btn" (click)="toggle()">
        {{ sidebarOpen ? '◀' : '▶' }}
      </button>
    </div>

    <nav class="sidebar-nav">

      <!-- OPERACIONES — visible para todos -->
      <div class="nav-section">
        <span class="nav-section-label" *ngIf="sidebarOpen">Operaciones</span>

        <a routerLink="/"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }"
           class="nav-item">
          <span class="nav-icon">🏭</span>
          <span class="nav-label" *ngIf="sidebarOpen">Dashboard Actividades</span>
        </a>
      </div>

      <!-- REPORTES — solo ADMIN -->
      <div class="nav-section" *ngIf="auth.isAdmin()">
        <span class="nav-section-label" *ngIf="sidebarOpen">Reportes</span>

        <a routerLink="/reports/efectividad"
           routerLinkActive="active"
           class="nav-item">
          <span class="nav-icon">📊</span>
          <span class="nav-label" *ngIf="sidebarOpen">Efectividad</span>
        </a>

        <a routerLink="/reports/manual"
           routerLinkActive="active"
           class="nav-item">
          <span class="nav-icon">📝</span>
          <span class="nav-label" *ngIf="sidebarOpen">Reporte Manual</span>
        </a>
      </div>

      <!-- ADMINISTRACIÓN — solo ADMIN -->
      <div class="nav-section" *ngIf="auth.isAdmin()">
        <span class="nav-section-label" *ngIf="sidebarOpen">Administración</span>

        <a routerLink="/admin/efectividad"
           routerLinkActive="active"
           class="nav-item">
          <span class="nav-icon">🔧</span>
          <span class="nav-label" *ngIf="sidebarOpen">Operadores y Procesos</span>
        </a>

        <a routerLink="/reports/history"
      routerLinkActive="active"
      class="nav-item">
      <span class="nav-icon">🗂️</span>
      <span class="nav-label" *ngIf="sidebarOpen">Historial Reportes</span>
      </a>
      </div>

    </nav>

    <!-- FOOTER con usuario y logout -->
    <div class="sidebar-footer" *ngIf="sidebarOpen">
      <span class="sidebar-user">{{ auth.getUser()?.name }}</span>
      <span class="sidebar-role">{{ auth.getUser()?.role }}</span>
      <button class="btn-logout" (click)="logout()">Cerrar sesión</button>
    </div>

  </aside>

  <main class="main-content">
    <router-outlet />
  </main>

</div>